.info {
    padding: 3rem;
    background: linear-gradient(135deg, rgb(0, 0, 0) 70%, rgba(0, 0, 0, 0.637) 100%), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuW2yNtoQ3a_AYVsJHfc-4UZCEaQgVFjynDQ&usqp=CAU');

    background-position: right;
 background-size: contain;
    border-bottom: 1px solid rgb(129, 129, 129);
    &__header {
        background-color: white;;
        display: block;
        width: max-content;
        padding: 1rem;
        font-size: 3rem;;
        font-family:  'PT Serif', serif;;
    }

    &__text{
        margin: 1rem 0;
        width: 85%;
        background-color: transparent;
        color: white;
        font-family: 'Ubuntu';
        font-size: 1.5rem;;
        padding: 1rem 1rem  3rem 1rem;
        border-left: 3px solid green;
    }
}